<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<!--<header>
  <%- include('../partials/header'); %>
</header>-->

<body class="text-center">

  <main class="form-signin">
    <form action="/session" method="post">
      <img class="mb-4" src="/img/794067.jpg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Device Grant Flow Example</h1>

      <!--<div class="form-floating">
        <h2>Welcome to StreamBox</h2>
      </div>-->

      <div class="form-floating">
        <video width=100% height=100% autoplay>
          <source src="/vid/movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video> 
      </div>

      <div class="form-floating">
          <input type="submit" class="btn btn-primary" name="refresh" value="Refresh Tokens" />
      </div>

      <div class="form-floating">  
        <h2 class="btn btn-link" type="button" onclick="document.location.href='/logout';">Sign out</h2>
    </div>
      

      <div class="form-floating">
        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show Tokens</button>
          <div class="collapse" id="collapseExample">
            <div class="form-floating">
              <h3>Access Token</h3>
              <code><%= accessToken %></code> 
            </div>
      
            <div class="form-floating">
              <h3>ID Token</h3>
              <code><%= idToken %></code>
            </div>
      
          </div>
      </div>
      
      <%- include('../partials/footer'); %>
    </form>
  </main>

 

</body>
</html>